<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><b>tour-ward</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      
      <li><a href="profile">Profile</a></li>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/volunteer">Volunteer</a></li>

      <li style="margin-left: 750px;"><a href="/explore">Sign Out</a></li>





 
    </ul>


  </div>
</nav>