<!DOCTYPE html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
	body{
		background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQUrv7f2sR7kOCRjJyykmtiuWIHn0LGTzjNbCbJnyny8kS39W_');
	background-size: cover;
	}


</style>

</head>

<body >
{{>navbar}}
<div class = "col-lg-3 col-lg-offset-4">

</div>


<div class = "container" style="margin-left:20%">

<div style="margin-top: 40px;">
	<h1  style="font-family: 'Raleway', sans-serif; margin-left: 15%; font-size: 50px"> Where Are You Going? </h1> 
</div>


<div style="text-align:center;"> 
<div style="margin-left: 15%;">

<div class="row">
<form action="/explore" method="POST" style="width: 950px;">
	<input type="text" class="form-control" name="location" placeholder="location" style="width:50%">
	
	<button style="float:right; margin-right:45%">go</button>
	
	</div>


</form>
</div>
</div>


  {{#each stores}}
	<div style="background: #BCC5D1; margin-bottom: 20px; width: 70%; padding:10px; border-radius: 20px; margin-left: 5%"> 
		<ul style="text-decoration: none; list-style: none">
		<li> <h2 class="text-center" style="font-family: 'Raleway', sans-serif; "> {{this.name}} </h2> </li>
			<ul style="text-decoration: none; list-style: none">
				<li><h3 style="font-family: 'Raleway",sans-serif;"> Address: {{this.address_obj.address_string}} </h3></li>

    		<li> 
    			<img src={{rating_image_url}}>

    		</h3></li>

    		<li> 
    			<h3> <a href="/local">Contact a Local</a> </h3>

    		</h3></li>
    	

    		
    	</ul>


    	</ul>
	</div>
  {{/each}}


</body>

</html>