<!DOCTYPE html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
	body{
		background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQUrv7f2sR7kOCRjJyykmtiuWIHn0LGTzjNbCbJnyny8kS39W_');
	background-size: cover;
	}

	.profile{
		height: 300px;
		width: 600px;
		background-color: white;
		margin-left: 30%;
		margin-top: 5%;
	}

	img{
		border-radius: 50%;
		height:170px;
		width: 170px;
		margin-top: 3%;
		margin-left: 5%;
		border-style: solid;
		border-width: 5px;
	}




</style>

</head>

<body >
{{>navbar}}

<div class="profile">
	<div style="display: inline-block;">
		
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbWXEXwjBVRBtvDkgYdb6wQE9EdmRYxi13GdoM4AAx2HiEkV23'>

	</div>
    <div style="display: inline-block; margin-left: 30%; margin-bottom: 30%">
    	"Hi! I've been living in NYC my whole life and would love to see the city with you!"

    </div>
</div>


	

<div class="profile">
	<img src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTQ3MzM3MTcxNjA5NTkzNjQ3/ariana_grande_photo_jon_kopaloff_getty_images_465687098.jpg'>
	<br>

	<h3 style="margin-left: 40px">Ariana Grande</h3>

	<div style="float:right">
		sasdasdas

	</div>



</div>


<div class="profile">
	<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSACp5G58VPr5IiZxpoes2zurSGtM5EHpYW0ltGBq-_Jy9k3Bjn'>
	<br>
	<h3 style="margin-left: 40px">Rani Mukherji</h3>
</div>


<div class="profile">
	<div style="display: inline-block;">Content1</div>
    <div style="display: inline-block;">Content2</div>
</div>


</body>

</html>