<!DOCTYPE html>
<head>



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">

</head>

<body>

{{>navbar}}


<div style="margin-top: 20px; margin-left: 12%;">
  <h1  style="font-family: 'Raleway', sans-serif; margin-left: 2%; font-size: 50px"> Spike Lee </h1> 
</div>

<div style="margin-left: 5%; float: left;" >


  <div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/SpikeLeeSept2011.jpg/197px-SpikeLeeSept2011.jpg" style="height: 200px; width:200px; margin-left:38%; border-radius: 50%; border-style: solid; border-width: 5px;">
  </div>

<br>

<div style="background-color: #BCC5D1; margin-left: 15%; width: 350px; height: 300px;  padding: 10px; margin-top: 2%; opacity: 0.8; border-radius: 10px">
  
  <h2  style="font-family: 'Raleway', sans-serif; margin-left: 15%;"> <b>User Information:</b></h2> 
  <div style="margin-left: 10px;">
  <h3> <b>Location:</b> New York City</h3>
  <h3> <b>Rating:</b> 4.6</h3>
  <h3> <b>Interests:</b> Food, Basketball, Music, Film</h3>
  </div>

</div>
</div>

<div style="background-color: #BCC5D1; float: right; height: 500px; width: 800px; margin-top: 2%; margin-right: 5%; border-radius: 40px"> 
  <h1  style="font-family: 'Raleway', sans-serif; margin-left: 20%;"> <b>Customer Reviews:</b></h1> <br>

  
  <div style="background-color: white; height:100px; width: 90%; margin-left: 40px; border-radius: 40px">

    <h4 style="padding:30px;"> <i>"Had a great time with Spike! Saw a Knicks game and went to Harlem for a music show."</i> -Meryl Streep</h2>
  </div>

  <br>
  <div style="background-color: white; height:100px; width: 90%; margin-left: 40px; border-radius: 40px">
    <h4 style="padding:30px;"><i>"No one knows New York like Spike" </i>-Barack Obama</h2>
  </div>

  <br>
  <div style="background-color: white; height:100px; width: 90%; margin-left: 40px; border-radius: 40px">
    <h4 style="padding:30px;"><i>"Spike is cool. Can rush things a bit though."</i> -Shawn Mendes</h2>

  </div>
  </div>






</body>

</html>