<!DOCTYPE html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
	body{
		background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQUrv7f2sR7kOCRjJyykmtiuWIHn0LGTzjNbCbJnyny8kS39W_');
	background-size: cover;
	}

	.profile{
		height: 300px;
		width: 600px;
		background-color: white;
		margin-left: 30%;
		margin-top: 5%;
	}

	img{
		border-radius: 50%;
		height:170px;
		width: 170px;
		margin-top: 3%;
		margin-left: 5%;
		border-style: solid;
		border-width: 5px;
	}




</style>

</head>

<body >
{{>navbar}}



<div class="container profile">
	
	<div style="width: 200px; float:left; height:300px; margin-top: 30px">
		<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/SpikeLeeSept2011.jpg/197px-SpikeLeeSept2011.jpg'>
	<br>
	<h3 style="margin-left: 15%"> <a href="/localprofile">Spike Lee </a></h3>

	</div>

	<div style=" overflow: hidden; height:300px; margin-top: 30px">
		<br><br>
		<h4><i>I've lived in New York City for most of my life. I can show you the real New York.</i></h4>
		<br>
		<h4><b>Interests: </b>Food, Basketball, Music </h4>
		<h4>Brooklyn, Bronx</h4>
	</div>


</div>

<div class="container profile">
	
	<div style="width: 200px; float:left; height:300px; margin-top: 30px">
		<img src='https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTQ3MzM3MTcxNjA5NTkzNjQ3/ariana_grande_photo_jon_kopaloff_getty_images_465687098.jpg'>
	<br>
	<h3 style="margin-left: 10%"> Ariana Venti </h3>

	</div>

	<div style=" overflow: hidden; height:300px; margin-top: 30px">
		<br><br>
		<h4><i>Hey! I've lived in NYC for the past couple of years! It's lit! </i></h4>
		<br>
		<h4><b>Interests: </b> Night life, nature, shopping, sight seeing, music, theater </h4>

		<h4>SoHo, MeatPacking District, Downtown Brooklyn, Broadway </h4>
	</div>


</div>

<div class="container profile">
	
	<div style="width: 200px; float:left; height:300px; margin-top: 30px">
		<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSACp5G58VPr5IiZxpoes2zurSGtM5EHpYW0ltGBq-_Jy9k3Bjn'>
	<br>
	<h3 style="margin-left: 10%"> Rani Mukherji </h3>

	</div>

	<div style=" overflow: hidden; height:300px; margin-top: 30px">
		<br><br>
		<h4><i>I've been living in New York City for a few years now. There's no better place for good food. </i></h4>
		<br>
		<h4><b>Interests: </b> Ethnic foods, shopping, </h4>

		<h4>Queens, Brooklyn, Long Island </h4>
	</div>


</div>





<!-- 
<div class="profile">
	<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSACp5G58VPr5IiZxpoes2zurSGtM5EHpYW0ltGBq-_Jy9k3Bjn'>
	<br>
	<h3 style="margin-left: 40px">Rani Mukherji</h3>
</div> --> -->


<!-- <div class="profile">
	<div style="display: inline-block;">Content1</div>
    <div style="display: inline-block;">Content2</div>
</div> -->


</body>

</html>