<!DOCTYPE html>
<head>



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">

</head>

<body style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQUrv7f2sR7kOCRjJyykmtiuWIHn0LGTzjNbCbJnyny8kS39W_');">

{{>navbar}}


<div style="margin-top: 20px; margin-left: 12%;">
  <h1  style="font-family: 'Raleway', sans-serif; margin-left: 15%; font-size: 50px"> Welcome Denzel Washington! </h1> 
</div>

<div style="margin-left: 5%; float: left;" >


  <div>
  <img src="https://www.famousbirthdays.com/faces/washington-denzel-image.jpg" style="height: 200px; width:200px; margin-left:30%; border-radius: 50%; border-style: solid; border-width: 5px;">
  </div>

<br>

<div style="background-color: #BCC5D1; margin-left: 15%; width: 350px; height: 300px;  padding: 10px; margin-top: 2%; opacity: 0.8; border-radius: 10px">
  
  <h2  style="font-family: 'Raleway', sans-serif; margin-left: 15%;"> <b>User Information:</b></h2> 
 
  <div style="margin-left: 10px;">
  <h3> <b>Location:</b> Los Angeles </h3>
  <h3> <b>Rating:</b> 4.8 </h3>
  <h3> <b>Interests:</b> Hiking, water sports, snow boarding, biking, and reading </h3>

  </div>

</div>
</div>

<div style="background-color: #BCC5D1; float: right; height: 500px; width: 800px; margin-top: 2%; margin-right: 5%; border-radius: 40px"> 
  <h1  style="font-family: 'Raleway', sans-serif; margin-left: 20%;"> <b>Review:</b></h1> 

  
  <div style="background-color: white; height:100px; width: 80%; margin-left: 40px; border-radius: 40px">

    <h4 style="padding:20px;"><i>Great and fun guy he is.</i> - Ariana Grande</h4>
  </div>

  <br>
  <div style="background-color: white; height:100px; width: 80%; margin-left: 40px; border-radius: 40px">
    <h4 style="padding:20px;"><i>Had a blast with Denzel.</i> - Amitabh Bacchan</h4>
  </div>

  <br>
  <div style="background-color: white; height:100px; width: 80%; margin-left: 40px; border-radius: 40px">
    <h4 style="padding:20px;"><i>Thanks for letting me show you around.</i> - Anderson Cooper</h4>

  </div>
  </div>






</body>

</html>