<!DOCTYPE html>
<head>



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">

</head>

<body>

{{>navbar}}


<div style="margin-top: 20px; margin-left: 12%;">
  <h1  style="font-family: 'Raleway', sans-serif; margin-left: 15%; font-size: 50px"> Welcome Denzel Washington! </h1> 
</div>

<div style="margin-left: 5%; float: left;" >


  <div>
  <img src="https://www.famousbirthdays.com/faces/washington-denzel-image.jpg" style="height: 200px; width:200px; margin-left:15%; border-radius: 50%; border-style: solid; border-width: 5px;">
  </div>

<br>

<div style="background-color: #BCC5D1; margin-left: 15%; width: 350px; height: 300px;  padding: 10px; margin-top: 2%; opacity: 0.8; border-radius: 10px">
  
  <h2  style="font-family: 'Raleway', sans-serif; margin-left: 15%;"> <b>User Information:</b></h2> 
  <div style="margin-left: 10px;">
  <h3> <b>Location:</b> Los Angeles </h3>
  </div>

</div>
</div>

<div style="background-color: #BCC5D1; float: right; height: 500px; width: 800px; margin-top: 2%; margin-right: 5%; border-radius: 40px"> 
  <h1  style="font-family: 'Raleway', sans-serif; margin-left: 20%;"> <b>Patient History:</b></h1> 

  
  <div style="background-color: white; height:100px; width: 80%; margin-left: 40px; border-radius: 40px">

    <h4 style="padding:20px;">Recieved TDAP vaccine at CVS on Kissena Blvd on 12/2/2017</h2>
  </div>

  <br>
  <div style="background-color: white; height:100px; width: 80%; margin-left: 40px; border-radius: 40px">
    <h4 style="padding:20px;">Recieved Shingrix vaccine at CVS on Kissena Blvd on 12/2/2017</h2>
  </div>

  <br>
  <div style="background-color: white; height:100px; width: 80%; margin-left: 40px; border-radius: 40px">
    <h4 style="padding:20px;">Recieved influenza vaccine at Duane Reade on Kissena Blvd on 9/2/2018</h2>

  </div>
  </div>






</body>

</html>