<!DOCTYPE html>
<html lang="en">

<head>
  <style>
  body{
    background: url("https://www.vactualpapers.com/web/wallpapers/beautiful-sights-and-scenes-of-norway-world-travel-hd-wallpaper-20/thumbnail/lg.jpg");
    background-size: cover;
  }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">
  </head>


<body>

  {{>navbar}}

  <div class="row">
    <div class="col-md-12">

        <div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwNzEUmf8pFjp2Xh7UN263AUJ3yLURY7o58bKdQGP2w0ZCO4su" style="height: 200px; width:200px; margin-left:15%; margin-top: 5%; border-radius: 50%; border-style: solid; border-width: 5px;">
  </div>

 

    </div>
  </div>


</div>



</body>