<!DOCTYPE html>
<html lang="en">

<head>
  <style>
  body{
    background: url("https://www.vactualpapers.com/web/wallpapers/beautiful-sights-and-scenes-of-norway-world-travel-hd-wallpaper-20/thumbnail/lg.jpg");
    background-size: cover;
  }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Krub|Poppins" rel="stylesheet">
  </head>


<body>

  {{>navbar}}


</div>



</body>